<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="connString_ASPNET4" connectionString="Data Source=WAN026\SQLEXPRESS2012;Initial Catalog=ASPNET4;Persist Security Info=True;User ID=sa;Password=Sa1234"
            providerName="System.Data.SqlClient" />
        <add name="connString_Northwind" connectionString="Data Source=WAN026\SQLEXPRESS2012;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=Sa1234"
            providerName="System.Data.SqlClient" />
        <add name="connString_CNorthwind" connectionString="Data Source=WAN026\SQLEXPRESS2012;Initial Catalog=北風貿易;Persist Security Info=True;User ID=sa;Password=Sa1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
